<ion-header>
  <ion-toolbar>
    <ion-title>
      Buscar Película
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar 
    placeholder="Buscar película..."
    animated
    debounce="700"
    [value]="searchValue"
    (ionChange)="search($event)"
    mode="ios"
  ></ion-searchbar>
</ion-toolbar>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Sugeridos:</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let suggest of suggests">
      <ion-label  color="primary">{{suggest}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
